@media only screen and (max-width: 874px) {
    header nav ul li{
        margin-left: 12px;
    }
}
@media only screen and (max-width: 794px) {
    header nav ul li a{
        font-size: 11px;
    }
    header nav ul li{
        margin-left: 8px;
    }
}
@media only screen and (max-width: 706px) {
    header nav{
        display: none;
    }
    .tools .by_image{
        position: relative;
        width: 100%;
        height: 400px;
    }
    footer .container{
        display: block;
    }
    footer .right_first ul{
        min-width: inherit;
    }
}
